<%- include ../layouts/header.ejs %>
<p>Zalogowano: <span><%=username%></span></p>
<div class="page-data">
  <form method="POST" action="/famousPeople/edit/<%=data[0].id%>">
    <table cellpadding="11">
      <tr>
        <td class="label">imie</td>
        <td><input type="text" name="imie" required value="<%=data[0].imie%>"></td>
      </tr>
      <tr>
        <td class="label">nazwisko</td>
        <td><textarea name="nazwisko" required cols="30" rows="5"><%=data[0].nazwisko%></textarea></td>
      </tr>
      <tr>
        <td class="label">wiek</td>
        <td><input type="number" name="wiek" required value="<%=data[0].wiek%>"></td>
      </tr>
      <tr>
        <td class="label">czyŻywy</td>
        <td><input type="number" name="czyŻywy" min="0" max="1" required value="<%=data[0].czyŻywy%>"></td>
      </tr>
      <tr>
        <td class="label"></td>
        <td>
          <button type="submit">Zapisz</button>
          <button type="button" onclick="cancelAdd()">Anuluj</button>
        </td>
      </tr>
    </table>
  </form>

</div>

<%- include ../layouts/footer.ejs %>